:root {
  --blue: #484d6d;
  --orange: #cf5c36;
  --black: #141204;
}

/* html {
  scroll-behavior: smooth;
} */
/* preloader */
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--mainWhite);
  z-index: 999;
}

.hidePreloader {
  display: none !important;
}
body {
  font-family: 'Mr Dafoe', cursive;
  color: var(--blue);
  background: url(../imgs/body-bgr.jpg) center/cover fixed no-repeat;
  word-spacing: 1rem;
}

.info {
  background: var(--blue);
}

.primary-color {
  color: var(--orange);
}

.info h2 {
  word-spacing: 0.6rem;
}

.info a {
  transition: color 1s ease-in-out;
}

.info a:hover {
  color: var(--black);
}

/* header */

#header {
  min-height: calc(100vh - 62px);
  background: url(../imgs/header-backgr.jpg) center/cover fixed no-repeat;
  overflow: hidden;
  position: relative;
}
#header::after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: -1;
  content: '';
}

.height-90 {
  min-height: calc(100vh - 100px);
}

.banner h1 {
  border-top: 6px dotted var(--blue);
  border-bottom: 6px dotted var(--blue);
  animation: fromLeft;
  animation-duration: 2s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.main-btn {
  color: var(--orange);
  font-size: 2rem;
  border: 2px solid var(--orange);
  transition: all 1s ease-in-out;
}

.main-btn:hover {
  color: var(--black);
  border: 2px solid var(--blue);
  background: var(--blue);
}

.ramen-btn {
  animation: fromRight;
  animation-duration: 2s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fromRight {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.header-link {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  background: var(--blue);
  border-radius: 10px;
  transition: all 2s ease;
  animation: fromBottom;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.header-link {
  color: var(--black);
}

@keyframes fromBottom {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* nabar */

.navbar {
  background: var(--blue);
  padding: 20px 20px;
  transition: all 1s ease;
}

.navbar-background {
  padding: 5px 20px;
}

.navbar-brand {
  font-size: 30px;
  transition: all 1s ease;
}

.navbar-brand:hover {
  color: var(--black);
}

.nav-link {
  color: var(--black);
  text-decoration: none;
  transition: all 2s ease;
  font-size: 2.5rem;
}

.nav-link:hover {
  color: var(--orange);
}

.nav-btn {
  background: transparent;
  color: var(--orange);
  border: 2px solid var(--orange);
  font-size: 23px;
  transition: all 2s ease;
}

.nav-btn:hover {
  color: var(--black);
  border: 2px solid var(--black);
  transform: rotate(10deg);
}

.bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: var(--orange);
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

/* menu items */

.item-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  transition: all 2s ease;
}

.item-img {
  width: 30rem;
  height: 20rem;
  transition: all 2s ease;
}

.item-container:hover .item-img {
  transform: scale(1.2);
  opacity: 0.5;
}

.item-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--orange);
  font-size: 2rem;
  border-top: 3px solid var(--orange);
  border-bottom: 3px solid var(--orange);
  transition: all 2s ease;
  opacity: 0;
}

.item-container:hover .item-link {
  opacity: 1;
}

.item-link:hover {
  color: var(--blue);
  border: 3px solid var(--blue);
  background: var(--blue);
  color: var(--black);
}

.item-container:hover {
  outline: 10px solid var(--orange);
  outline-offset: 0.8rem;
}

/* menu */

#menu {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(../imgs/ramen-banner.jpg) center/cover fixed no-repeat;
}

.special {
  border: 3px solid var(--orange);
  position: relative;
}

.special-text {
  position: absolute;
  top: 0;
  right: 10%;
  background: var(--orange);
  padding: 0 0.4rem;
}
/* about */

.d {
  background: rgba(255, 255, 255, 0.7);
}

.about-pictures {
  position: relative;
}

.about-image {
  height: 13rem;
  width: 13rem;
  position: absolute;
  transition: all 2s ease;
  opacity: 0.9;
}

.img-1 {
  left: 0%;
  top: 0%;
}

.img-2 {
  left: 20%;
  top: 20%;
  z-index: 10;
}

.img-3 {
  left: 40%;
  top: 45%;
  z-index: 20;
}
.img-4 {
  left: 40%;
  top: 0%;
}
.img-5 {
  left: 0%;
  top: 45%;
}

.about-image:hover {
  outline: 10px solid var(--orange);
  outline-offset: 0.8rem;
  transform: scale(1.3) rotate(20deg);
  z-index: 30;
  opacity: 1;
}

.about-pictures:hover .about-image:not(:hover) {
  opacity: 0.5;
}

/* review section */

.review-item {
  background: rgba(255, 255, 255, 0.7);
  clip-path: polygon(5% 0, 100% 0, 90% 100%, 0 100%);
}

.review-img {
  width: 11rem;
  height: 11rem;
  /* width: 150px;
  height: 150px; */
}
/* team */
.card img {
  width: 100%;
  height: 16rem;
}
.team-icons a {
  color: #3b5998;
  transition: all 2s ease-in-out;
}

.team-icons a:hover {
  color: #242424;
  transform: translateY(-5px);
}

/* contact */

.height-60 {
  min-height: 60vh;
}

#contact .card {
  background: rgba(0, 0, 0, 0.5);
  transition: all 2s ease;
}

#contact .card:hover {
  background: rgba(0, 0, 0, 0.8);
}

#contact .card-header {
  color: var(--orange);
}

#contact .input-group-text {
  background: var(--orange);
  border-color: var(--orange);
  color: var(--black);
}

#contact .card input {
  color: #606060;
}

#contact,
card input:placeholder {
  color: #606060;
}

.contact-btn {
  color: var(--orange);
  border-color: var(--orange);
  background: transparent;
  transition: all 2s ease-in-out;
}

.contact-btn:hover {
  background: var(--blue);
  color: var(--orange);
  border-color: var(--blue);
}
/* footer */
#back-to-top {
  background: var(--blue);
  border-radius: 10px;
  display: inline-block;
}

.scrollTop {
  position: fixed;
  bottom: 70px;
  right: 10px;
}
